<template>
  <div class="fabric">
    <button @click="addRectangle" class="btn btn-primary">Rectangle</button>
    <button @click="addRectangleCurveAngle" class="btn btn-success">Rectangle Curve Angle</button>
    <canvas ref="canvasRef" width="500" height="800"/>    
  </div>
</template>
<style scoped>
  .fabric{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas{
    border: 1px solid #00004d;
    border-radius: 5px;
  }

</style>
<script>
import {fabric} from "fabric"
var canvas = null
export default {
  name: 'Fabric',
  methods: {
    addRectangle(){
      // const canvas = new fabric.Canvas(this.$refs.canvasRef,{
      //   isDrawingMode:false
      // })
      const rect = new fabric.Rect({
        fill: '#f56',
        cornerSize:15,
        top:100,
        left:100,
        width:50,
        height:50,
        borderColor: "#000080",        
      });
      canvas.add(rect);
    },
    addRectangleCurveAngle(){
      const rectangleCurve = new fabric.Rect({
        fill: '#f56',
        width:50,
        height:50,
        hasBorder:true,
        transparentCorners:true,
        top:300,
        rx:5,
        ry:5,
        left:300,        
        borderColor: "#000080",        
      });
      canvas.add(rectangleCurve);
    }
  },
  mounted() {
    canvas = new fabric.Canvas(this.$refs.canvasRef,{
      isDrawingMode:false
    })        
    canvas;
  },
}
</script>