<template>
  <div class="home">    
    <FormRegistration msg="Workshop Registration" />
  </div>
</template>

<script>
// @ is an alias to /src
import FormRegistration from "@/components/FormRegistration.vue";

export default {
  name: "Home",
  components: {
    FormRegistration,
  },
};
</script>
