<template>
  <div class="updateUser">    
    <FormUpdateUser msg="Workshop Registration" />
  </div>
</template>

<script>
// @ is an alias to /src
import FormUpdateUser from "@/components/FormUpdateUser.vue";

export default {
  name: "UpdateUser",
  components: {
    FormUpdateUser,
  },
};
</script>
