<template>
  <div class="form-register">
    <h1>{{ msg }}</h1>
    <div class="form">
      <div class="container">      
        <div v-if="this.message" class="alert alert-success" role="alert">
          {{this.message}}
        </div>
        <div class="form-group">          
          <label for="">Name :</label>
          <input class="form-control" type="text" v-model="user.name">
        </div>
        <div class="form-group">          
          <label for="">Email :</label>
          <input class="form-control" type="text" v-model="user.email">
        </div>
        <div class="form-group">          
          <label for="">Phone Number :</label>
          <input class="form-control" type="text" v-model="user.phone_number">
        </div>
        <div class="form-group">          
          <label for="">address :</label>
          <input class="form-control" type="text" v-model="user.address">
        </div>
        <div class="button-add">
          <button class="btn btn-primary" @click="addUser">Submit</button>
        </div>        
      </div>      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>        
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" :key="index">
          <td scope="row">{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone_number}}</td>
          <td>{{user.address}}</td>
          <td>
            <router-link :to="{ name: 'UpdateUser', params: { id: user.id } }" class="btn btn-warning" :style="'color:black;'"> Edit </router-link>&nbsp;
            <a @click="deleteUser(user.id)"><button class="btn btn-danger">Delete</button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  props: {
    msg: String,
  },
  data() {
    return {
      users:[],
      user:{
        name: '',
        email: '',
        phone_number: '',
        address: ''
      },
      message: null
    }
  },
  methods: {
    getUsers(){
      axios.get(`http://localhost:8000/api/users`)
      .then(res => {
        this.users = res.data;
        console.log(this.users);
      })
    },

    addUser(){
      axios.post(`http://localhost:8000/api/users`, this.user)
      .then(res => {
        this.message = res.data.message;
        window.location.reload();
      })
    },

    deleteUser(id){
      axios.delete(`http://localhost:8000/api/users/${id}`, this.user)
      .then(res => {
        this.message = res.data.message;
        window.location.reload();
      })
    }
  },
  mounted() {
    this.getUsers();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
label{
  flex: 1;
  text-align: left;
  vertical-align: middle;
}
.form-group{
  margin-top: 20px;
  display: flex;
}
.form-control{
  flex: 6;
}
.button-add{
  margin-top:20px;
  float:right;
}
</style>
