<template>
  <div class="form-register">
    <h1>{{ msg }}</h1>
    <div class="form">
      <div class="container">      
        <div v-if="this.message" class="alert alert-success" role="alert">
          {{this.message}}
        </div>
        <div class="form-group">          
          <label for="">Name :</label>
          <input class="form-control" type="text" v-model="user.name">
        </div>
        <div class="form-group">          
          <label for="">Email :</label>
          <input class="form-control" type="text" v-model="user.email">
        </div>
        <div class="form-group">          
          <label for="">Phone Number :</label>
          <input class="form-control" type="text" v-model="user.phone_number">
        </div>
        <div class="form-group">          
          <label for="">address :</label>
          <input class="form-control" type="text" v-model="user.address">
        </div>
        <div class="button-add">
          <button class="btn btn-success" @click="updateUser">Update</button>
        </div>        
      </div>      
    </div>    
  </div>
</template>

<script>
import axios from 'axios';
export default {
  props: {
    msg: String,
  },
  data() {
    return {      
      user:{
        name: '',
        email: '',
        phone_number: '',
        address: ''
      },
      message: null
    }
  },
  created() {
    this.getUserById();
  },
  methods: {
    async getUserById() {
      try {
        const response = await axios.get(`http://localhost:8000/api/users/${this.$route.params.id}`);
        this.user = response.data;
        console.log("user : ", this.user);
      } catch (error) {
        console.log(error);
      }
    },
    getUsers(){
      axios.get(`http://localhost:8000/api/users`)
      .then(res => {
        this.users = res.data;
        console.log(this.users);
      })
    },

    updateUser(){
      axios.put(`http://localhost:8000/api/users/${this.$route.params.id}`, this.user)
      .then(res => {
        this.message = res.data.message;  
        this.$router.push("/");      
      })
    }
  },
  mounted() {
    this.getUsers();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
label{
  flex: 1;
  text-align: left;
  vertical-align: middle;
}
.form-group{
  margin-top: 20px;
  display: flex;
}
.form-control{
  flex: 6;
}
.button-add{
  margin-top:20px;
  float:right;
}
</style>
